<div class="container">

<h1>Listing pins</h1>
    <div class= "row">
    <% @pins.each do |pin| %>
     <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4">

        <div class= "img-thumbnail">

          <%= pin.description %>
          <%= image_tag(pin.photo, :size => '300x250' , :class => 'img-responsive') %>

          <% if current_user.nil? %>
          <div class="btn-group">
          <%= link_to 'Show', new_user_session_path, :class =>'btn btn-info' %>
          <%= link_to 'Edit', new_user_session_path, :class =>'btn btn-info' %>
          <%= link_to 'Destroy', new_user_session_path, :class =>'btn btn-info' %>
          <%= link_to 'New', new_user_session_path, :class =>'btn btn-info' %>

          </div>
          <% else %>
          <div class="btn-group">
          
          <%= link_to 'Show', pin, :class =>'btn btn-info' %>
          <%= link_to 'Edit', edit_pin_path(pin), :class =>'btn btn-info' %>
          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'btn btn-info' %>
          <%= link_to 'New', new_pin_path, :class =>'btn btn-info' %>
           </div>


          <% end %>
        </div>    
     </div> 
    <% end %>
    </div>

</div>