<p id="notice"><%= notice %></p>

<div class="container">

	  <strong>Description:</strong>
	  <%= @pin.description %>
	  <br>
	  <strong>Photo:</strong>
	  <br>
	  <%= image_tag(@pin.photo) %>
	  <br>
	<div class="btn-group">
		<%= link_to 'Edit', edit_pin_path(@pin), :class =>'btn btn-info' %>
		<%= link_to 'Back', pins_path, :class =>'btn btn-info' %>
	</div>
</div>

